@import './styles/variables';

body {
  font-family: $main-font;
  color: $dark-color;
  font-weight: 500;
  margin: 0;
}

a {
  color: $dark-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

h2 {
  font-family: $secondary-font;
  font-size: $h2-font-size;
  margin-top: 0;
  margin-bottom: 0.7em;
}

.logo {
  color: $primary-color;
  font-family: $logo-font;
  font-weight: 700;
  font-size: $logo-font-size;
  font-style: italic;
}

.container {
  margin: 1em;
}
