@import '../styles/variables';

.container-navbar {
  background: $primary-color;
  padding: 1.2em 1.4em;
  border-radius: 0.8em 0.8em 0 0;
}

.container-image {
  border-radius: 0.8em;
  background-image: url('../images/girl.webp');
  background-size: cover;
  padding: 2.6em;
  text-align: center;
  margin: 1em 0;
  background-size: 130%;
}

.overlay-text {
  color: white;

  .bold-text-image {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0.8em;
  }

  .main-text-image {
    font-size: $text-size;
  }
}

.container-achieve {
  border-radius: 0.8em;
  margin: 2em 0;
}

.category-name {
  margin-bottom: 0.4em;
  font-size: 0.85em;
  font-weight: 500;
}

.options-buttons {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 0.6em;
  margin-bottom: 0.8em;

  button {
    font-family: $main-font;
    font-weight: 500;
    padding: 0.7em 1em;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 0.8em;
    background: white;
    flex: 0 0 auto;
  }

  .skin {
    border: 2px solid #a96666;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.container-trending-products {
  border-radius: 0.8em;
  margin: 2em 0;
  background: $secondary-color;
  padding: 1.2em 1.4em;

  .categories-title {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.categories-cards {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 0.8em;

  .card {
    width: 75%;
    flex: 0 0 auto;

    .image {
      display: flex;
      justify-content: center;
      height: 200px;
      background-color: #f0f0f0;
      border-radius: 0.8em;
    }

    .brand {
      font-size: $text-size;
      margin-bottom: 0.3em;
      margin-top: 0.6em;
    }

    .title {
      font-weight: 600;
      font-size: 1em;
      margin-bottom: 0.6em;
    }

    .buy-button {
      width: 100%;
      border: 1px solid black;
      border-radius: 2em;
      padding: 0.5em;
      text-transform: uppercase;
      background: transparent;
    }
  }
}

.container-footer {
  background: #303030;
  padding: 1.4em 1.4em;
  border-radius: 0.8em;

  .logo.footer {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0.8em;
  }

  .footer-text {
    color: white;
    font-size: $text-size;
    margin-bottom: 0.5em;
  }
}
