@import './styles/variables';

body {
  font-family: $main-font;
  color: $text-color;
  font-weight: 400;
  margin: 0;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

h2 {
  color: #584f47;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 2.5em;
}

.logo {
  color: #ffe1e5;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 1.2em;
  font-style: italic;
}

.container {
  margin: 1em;
}
