// @media screen and (min-width: 1350px) is default

@media screen and (max-width: 1200px) {
  .container-options {
    flex: 1.5 1;
  }
  .categories-cards {
    grid-auto-columns: calc((100% / 3) - 26px);
  }

  .container .product-cards .card {
    flex: 1 1 calc((100% / 2) - 15px);
    max-width: calc((100% / 2) - 15px);
  }

  .container-image-text .text-image {
    max-width: 75%;
  }

  .container-options-div {
    padding-left: 3.5em;
  }

  .options-buttons button {
    font-size: 0.93em;
  }

  .category-name {
    font-size: 1em;
  }

  .categories-cards .card .title,
  .container .product-cards .card .title {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 992px) {
  .text-products-image {
    max-width: 80%;
  }

  .container-achieve {
    flex-flow: column-reverse;
    height: 130lvh;
    gap: 0;
  }

  .container-image-text {
    border-radius: 0.8em 0.8em 0 0;
  }

  .container-options-div {
    padding-left: 0;
  }

  .categories-cards {
    grid-auto-columns: calc((100% / 2) - 20px);
  }

  h2 {
    font-size: 2em;
  }

  .container-options {
    display: block;
    flex: 0;
    padding: 3.5em;
  }
}

@media screen and (max-width: 630px) {
  .key-benefits-container-wrapper .arrow-products,
  .options-buttons-line-wrapper .arrow-products {
    display: none;
  }

  .container .container-personal-products {
    padding: 20px;
    margin-bottom: 1.5em;
  }

  .container-achieve {
    height: 140lvh;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .container-options {
    padding: 2.5em 2.5em 3em 2.5em;
  }

  .container-trending-products,
  .container .container-top-text,
  .container .container-options-line {
    margin-bottom: 1.5em;
  }

  .container-image-text .text-image {
    font-size: 1.6em;
  }

  .categories-cards {
    grid-auto-columns: 100%;
  }

  .marquee-content .marquee-text {
    font-size: 1.15em;
  }

  .options-buttons button {
    font-size: 0.9em;
  }

  .category-name {
    font-size: 0.95em;
  }

  .categories-cards .card .title,
  .container .product-cards .card .title {
    font-size: 1em;
  }

  .categories-cards .card .brand,
  .container .product-cards .card .brand {
    font-size: 0.875em;
  }

  .container .product-cards .card .description {
    font-size: 0.9em;
  }

  .categories-cards .card .buy-button {
    margin-top: 0.5em;
  }

  .container .product-cards .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .trending-products-background {
    padding: 20px;
  }

  .text-products-image {
    font-size: 1.5em;
  }

  .marquee-content .marquee-text {
    font-size: 1.1em;
  }

  .container-achieve {
    height: 100lvh;
  }

  .container-options {
    padding: 2em 2em 2.5em 1.7em;
  }

  h2 {
    font-size: 1.75em;
  }

  .category-name {
    font-size: 0.9em;
  }

  .options-buttons button {
    font-size: 0.875em;
  }

  .container-image-text .text-image {
    font-size: 1.5em;
    left: 8%;
  }

  .options-buttons {
    gap: 0.5em;
  }

  .container-footer .logo.footer {
    font-size: 2em;
  }

  .container-footer .footer-text {
    font-size: 0.85em;
  }

  .container-footer {
    padding-right: 1.4em;
    padding-left: 1.4em;
    padding-bottom: 1.4em;
    padding-top: 3em;
  }
}

@media screen and (max-width: 385px) {
  .text-products-image {
    font-size: 1.2em;
  }
}
